/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet {
	
	/* background-color: #FAFAFA; */
/*	background-image: linear-gradient(to bottom right, #00006B, #AAAAAA);
	min-width: 800px;
	min-height: 1600px; */
}

div {
	z-index: 1;
}

h5 {
	color: white;
}

h4 {
	color: white;
}

span {
	font-family: Candara, Sans-Serif;
	border-radius: 3px;
	background-color: #FFFFFF;
	box-shadow: 4px 4px 2px 1px rgb(150,125,125, .2); 

	/* box-shadow: 4px 4px 2px 1px rgba(150, 125, 125, .2); */
}

input {
	font-family: Candara, Sans-Serif;
	border: none;
	border-radius: 3px;
}

select {
	font-family: Candara, Sans-Serif;
	border: none;
	border-radius: 3px;
}



div.sheet-main {
	display: grid;
	grid-template-columns: repeat(40,20px [allCol]);
	grid-template-rows: repeat(40, 20px [allRow]) [flexRow] auto [postFlex] 20px;

	/* background-image: linear-gradient(to bottom right, #00006B, #AAAAAA); */
	/* background-image: linear-gradient(to bottom right, #00006B, #9999FF); */

	background-color: #00006B;
	min-width: 800px;
	min-height: 1600px;
}

div.sheet-watermark {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	opacity: .3;
	z-index: 0;
}

/* Universal styling applied to all elements of these types */

div.sheet-nameContainer {
	border: 4px ridge silver;
	background-image: linear-gradient(to bottom right, #00006B, #9999FF);
	box-shadow: 4px 4px 2px 1px rgb(150,125,125, .2);
	border-radius: 5px;
	grid-column-start: allCol 1;
	grid-column-end: allCol 19;
	grid-row-start: allRow 1;
	grid-row-end: allRow 4;
}

div.sheet-jobContainer {
	border: 4px ridge silver;
	background-image: linear-gradient(to bottom right, #00006B, #9999FF);
	box-shadow: 4px 4px 2px 1px rgb(150,125,125, .2);
	border-radius: 5px;
	grid-column-start: allCol 1;
	grid-column-end: allCol 19;
	grid-row-start: allRow 5;
	grid-row-end: allRow 7;
}

div.sheet-traitContainer {
	border: 4px ridge silver;
	background-image: linear-gradient(to bottom right, #00006B, #9999FF);
	box-shadow: 4px 4px 2px 1px rgb(150,125,125, .2);
	border-radius: 5px;
	grid-column-start: allCol 20;
	grid-column-end: allCol 40;
	grid-row-start: allRow 1;
	grid-row-end: allRow 5;
}

div.sheet-xpContainer {
	border: 4px ridge silver;
	background-image: linear-gradient(to bottom right, #00006B, #9999FF);
	box-shadow: 4px 4px 2px 1px rgb(150,125,125, .2);
	border-radius: 5px;
	grid-column-start: allCol 1;
	grid-column-end: allCol 19;
	grid-row-start: allRow 8;
	grid-row-end: allRow 11;

	
}



div.sheet-quirkContainer {
	border: 4px ridge silver;
	background-image: linear-gradient(to bottom right, #00006B, #9999FF);
	box-shadow: 4px 4px 2px 1px rgb(150,125,125, .2);
	border-radius: 5px;
	grid-column-start: allCol 20;
	grid-column-end: allCol 40;
	grid-row-start: allRow 6;
	grid-row-end: allRow 11;
}

div.sheet-attributeContainer {
	border: 4px ridge silver;
	background-image: linear-gradient(to bottom right, #00006B, #9999FF);
	box-shadow: 4px 4px 2px 1px rgb(150,125,125, .2);
	border-radius: 5px;
	grid-column-start: allCol 1;
	grid-column-end: allCol 14;
	grid-row-start: allRow 12;
	grid-row-end: allRow 25;
}

div.sheet-hipContainer {
	border: 4px ridge silver;
	background-image: linear-gradient(to bottom right, #00006B, #9999FF);
	box-shadow: 4px 4px 2px 1px rgb(150,125,125, .2);
	border-radius: 5px;
	grid-column-start: allCol 15;
	grid-column-end: allCol 26;
	grid-row-start: allRow 12;
	grid-row-end: allRow 16;
}

div.sheet-armorContain {
	border: 4px ridge silver;
	background-image: linear-gradient(to bottom right, #00006B, #9999FF);
	box-shadow: 4px 4px 2px 1px rgb(150,125,125, .2);
	border-radius: 5px;
	grid-column-start: allCol 15;
	grid-column-end: allCol 20;
	grid-row-start: allRow 17;
	grid-row-end: allRow 20;
}

div.sheet-magicarmorContain {
	border: 4px ridge silver;
	background-image: linear-gradient(to bottom right, #00006B, #9999FF);
	box-shadow: 4px 4px 2px 1px rgb(150,125,125, .2);
	border-radius: 5px;
	grid-column-start: allCol 21;
	grid-column-end: allCol 26;
	grid-row-start: allRow 17;
	grid-row-end: allRow 20;
}

div.sheet-initContain {
	grid-column-start: allCol 15;
	grid-column-end: allCol 26;
	grid-row-start: allRow 21;
	grid-row-end: allRow 24;
}

div.sheet-resistContain {
	border: 4px ridge silver;
	background-image: linear-gradient(to bottom right, #00006B, #9999FF);
	box-shadow: 4px 4px 2px 1px rgb(150,125,125, .2);
	border-radius: 5px;
	grid-column-start: allCol 27;
	grid-column-end: allCol 40;
	grid-row-start: allRow 12;
	grid-row-end: allRow 22;

	display: grid;

	grid-template-columns: 1fr 1fr;

	grid-template-areas:
	"firstResist secondResist";
}

div.sheet-firstResist {
	width: 132px;
}

div.sheet-secondResist {
	width: 132px;
}

div.sheet-eweaponContain {

	grid-column-start: allCol 1;
	grid-column-end: allCol 24;
	grid-row-start: allRow 25;
	grid-row-end: allRow 27;
}

div.sheet-skillContain {
	grid-column-start: allCol 1;
	grid-column-end: allCol 39;
	grid-row-start: allRow 29;
	grid-row-end: flexRow;
}

div.sheet-skillContain2 {
	min-height: 200px;
	width: 260px;
}



/*
div.sheet-weaponContain {
	grid-column-start: allCol 1;
	grid-column-end: allCol 39;
	grid-row-start: postFlex;
	grid-row-end: allRow 50;
}
*/
/*
div.sheet-abilityContain {
	grid-column-start: allCol 1;
	grid-column-end: allCol 39;
	grid-row-start: allRow 51;
}
*/
div.sheet-graphicContain {
	grid-column-start: allCol 15;
	grid-column-end: allCol 24;
	grid-row-start: allRow 28;
	grid-row-end: allRow 37;
}

div.sheet-hopingthisworks{
	border: 4px ridge silver;
	background-image: linear-gradient(to bottom right, #00006B, #9999FF);
	box-shadow: 4px 4px 2px 1px rgb(150,125,125, .2);
	border-radius: 5px;
	grid-column-start: allCol 25;
	grid-column-end: allCol 39;
	grid-row-start: allRow 25;
	grid-row-end: allRow 29;
}

div.sheet-earmorBlock {
	/*
	border: 4px ridge silver;
	background-image: linear-gradient(to bottom right, #00006B, #9999FF);
	box-shadow: 4px 4px 2px 1px rgb(150,125,125, .2);
	border-radius: 5px;
	grid-column-start: allCol 25;
	grid-column-end: allCol 39;
	grid-row-start: allRow 25;
	grid-row-end: allRow 26;
	*/
	height: 19px;
}

div.sheet-equippedWeaponTextContainer {
	display: inline-block;
	border-radius: 10px;
	background-color: #FFFFFF;
}

span.sheet-earmorBlockeArmor {
	display: inline-block;
	width: 166px;
	font-size: 10px;
}

span.sheet-earmorblockP {
	display: inline-block;
	width: 45px;
	font-size: 10px;
}

div.sheet-earmorContain {
	
	grid-column-start: allCol 25;
	grid-column-end: allCol 39;
	grid-row-start: allRow 26;
	grid-row-end: allRow 29;
}

input.sheet-armProp {
	width: 263px;
}

div.sheet-acc1Contain {
	border: 4px ridge silver;
	background-image: linear-gradient(to bottom right, #00006B, #9999FF);
	box-shadow: 4px 4px 2px 1px rgb(150,125,125, .2);
	border-radius: 5px;
	grid-column-start: allCol 25;
	grid-column-end: allCol 39;
	grid-row-start: allRow 30;
	grid-row-end: allRow 33;
}

div.sheet-acc2Contain {
	border: 4px ridge silver;
	background-image: linear-gradient(to bottom right, #00006B, #9999FF);
	box-shadow: 4px 4px 2px 1px rgb(150,125,125, .2);
	border-radius: 5px;
	grid-column-start: allCol 25;
	grid-column-end: allCol 39;
	grid-row-start: allRow 34;
	grid-row-end: allRow 37;
}

input[type=number].sheet-statValue {
	display: inline-block;
	width: 58px;
	height: 58px;
	text-align: center;
	vertical-align: top;
	font-size: 16px;
}





span.sheet-XPTest {
	display: inline-block;
	width: 35px;
	height: 10px;
}

textarea.sheet-quirkText {
	resize: none;
	width: 378px;
	height: 36px;
}

span.sheet-empty40 {
	display: inline-block;
	width: 35px;
}

span.sheet-XPText {
	display: inline-block;
	width: 75px;
	text-align: center;
}

input.sheet-traitText {
	width: 383px;
	font-size: 11px;
	height: 22px;
}

input[type=number].sheet-xpNum {
	width: 75px;
	text-align: center;
}

input[type=number].sheet-currHp {
	width: 50px;
	height: 35px;
	font-size: 18px;
	text-align: right;
}

input[type=number].sheet-hpPerc {
	vertical-align: top;
	width: 35px;
}

span.sheet-hpText {
	display: inline-block;
	width: 20px;
}

span.sheet-maxHp {
	display: inline-block;
	font-size: 18px;
	width: 40px;
}

span.sheet-statLevel {
	display: inline-block;
	width: 58px;
	height: 58px;
	text-align: center;
	vertical-align: top;
	line-height: 58px;
	font-size: 24px;
}

span.sheet-statLabel {
	display: inline-block;
	width: 60px;
	height: 58px;
	text-align: center;
	vertical-align: top;
	line-height: 58px;
	font-size: 24px;
}

div.sheet-labelEarth {
	display: inline-block;
	width: 40px;
	height: 58px;
	background-image: url(https://raw.githubusercontent.com/Rolfcaron/ffrpg-4th-Roll20sheet/master/earth.png);
	background-repeat: no-repeat;
	vertical-align: center;
	background-position: center;
}

span.sheet-labelEarth {
	display: inline-block;
	width: 40px;
	height: 58px;
	background-image: url(https://raw.githubusercontent.com/Rolfcaron/ffrpg-4th-Roll20sheet/master/earth.png);
	background-repeat: no-repeat;
	vertical-align: center;
	background-position: center;
}

span.sheet-labelAir {
	display: inline-block;
	width: 40px;
	height: 58px;
	background-image: url(https://raw.githubusercontent.com/Rolfcaron/ffrpg-4th-Roll20sheet/master/air.png);
	background-repeat: no-repeat;
	vertical-align: center;
	background-position: center;
}

div.sheet-labelAir {
	display: inline-block;
	width: 40px;
	height: 58px;
	background-image: url(https://raw.githubusercontent.com/Rolfcaron/ffrpg-4th-Roll20sheet/master/air.png);
	background-repeat: no-repeat;
	vertical-align: center;
	background-position: center;
}

span.sheet-labelFire {
	display: inline-block;
	width: 40px;
	height: 58px;
	background-image: url(https://raw.githubusercontent.com/Rolfcaron/ffrpg-4th-Roll20sheet/master/fire.png);
	background-repeat: no-repeat;
	vertical-align: center;
	background-position: center;
}

div.sheet-labelFire {
	display: inline-block;
	width: 40px;
	height: 58px;
	background-image: url(https://raw.githubusercontent.com/Rolfcaron/ffrpg-4th-Roll20sheet/master/fire.png);
	background-repeat: no-repeat;
	vertical-align: center;
	background-position: center;
}

span.sheet-labelWater {
	display: inline-block;
	width: 40px;
	height: 58px;
	background-image: url(https://raw.githubusercontent.com/Rolfcaron/ffrpg-4th-Roll20sheet/master/water.png);
	background-repeat: no-repeat;
	vertical-align: center;
	background-position: center;
}

div.sheet-labelWater {
	display: inline-block;
	width: 40px;
	height: 58px;
	background-image: url(https://raw.githubusercontent.com/Rolfcaron/ffrpg-4th-Roll20sheet/master/water.png);
	background-repeat: no-repeat;
	vertical-align: center;
	background-position: center;
}

span.sheet-statLevelEarth {
	display: inline-block;
	width: 58px;
	height: 58px;
	text-align: center;
	vertical-align: top;
	line-height: 58px;
	font-size: 24px;
	background-image: url(https://raw.githubusercontent.com/Rolfcaron/ffrpg-4th-Roll20sheet/master/earth.png);
	background-repeat: no-repeat;
}

span.sheet-statLevelFire {
	display: inline-block;
	width: 58px;
	height: 58px;
	text-align: center;
	vertical-align: top;
	line-height: 58px;
	font-size: 24px;
	background-image: url(https://raw.githubusercontent.com/Rolfcaron/ffrpg-4th-Roll20sheet/master/fire.png);
	background-repeat: no-repeat;
}

span.sheet-statLevelWater {
	display: inline-block;
	width: 58px;
	height: 58px;
	text-align: center;
	vertical-align: top;
	line-height: 58px;
	font-size: 24px;
	background-image: url(https://raw.githubusercontent.com/Rolfcaron/ffrpg-4th-Roll20sheet/master/water.png);
	background-repeat: no-repeat;
}

span.sheet-nextStat {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: top;
	line-height: 20px;
}

input.sheet-skillName {
	width: 115px;
	font: 11px;
	height: 22px;
	vertical-align: center;
}

input.sheet-weaponName {
	width: 115px;
	font-size: 11px;
	height: 22px;
}

span.sheet-resistLabel {
	display: inline-block;
	width: 50px;
	font-size: 11px;
	height: 20px;
	vertical-align: center;
}

select.sheet-resist {
	width: 65px;
	font-size: 9px;
	height: 22px;
	vertical-align: center;
}

select.sheet-armorDropdown {
	width: 53px;
	font-size: 8px;
	vertical-align: top;
}

input[type=number].sheet-skillNum {
	width: 35px;
	height: 22px;
	vertical-align: center;
}

input.sheet-inputName {
	width: 350px;
}

input.sheet-inputFName {
	width: 350px;
	font-size: 11px;
}

span.sheet-armorSpan {
	display: inline-block;
	width: 30px;
	font-size: 20px;
}

select.sheet-skillDropdown {
	width: 60px;
	font-size: 9px;
	height: 22px;
	vertical-align: center;
}

select.sheet-wepSelector {
	width: 45px;
	height: 22px;
	font-size: 11px;
	vertical-align: center;
}

select.sheet-wepStatDropdown {
	width: 70px;
	height: 22px;
	font-size: 10px;
	vertical-align: center;
}

select.sheet-wepElement {
	width: 90px;
	font-size: 10px;
	height: 22px;
	vertical-align: center;
}

input.sheet-wepProperty {
	width: 500px;
	font-size: 10px;
	height: 24px;
}

input[type=number].sheet-dmgNum {
	height: 22px;

}

h2 {
	font-size: 2em;
	margin-bottom: 10px;
	text-align: center;
}

label {
	display: inline-block;
	width: 90px;
	font-size: 16px;
}

input {
	display: inline-block;
	width: 165px;
	box-shadow: 4px 4px 2px 1px rgb(192,192,192, .4);

	/* box-shadow: 4px 4px 2px 1px rgba(150, 125, 125, .2); */
}

select {
	box-shadow: 4px 4px 2px 1px rgba(192,192,192, .4);
}
/*
img {
	max-height: 100px;
}
*/
textarea {
	resize: vertical;
}



/* -----Hides up/down buttons on numberfields that don't need them ---*/
input[type=number].sheet-currHp::-webkit-inner-spin-button,
input[type=number].sheet-currHp::-webkit-outer-spin-button,
input[type=number].sheet-hpPerc::-webkit-inner-spin-button,
input[type=number].sheet-hpPerc::-webkit-inner-spin-button,
input[type=number].sheet-xpNum::-webkit-inner-spin-button,
input[type=number].sheet-xpNum::-webkit-outer-spin-button,
input[type=number].sheet-longNum::-webkit-inner-spin-button,
input[type=number].sheet-longNum::-webkit-outer-spin-button,
input[type=number].sheet-ref::-webkit-inner-spin-button,
input[type=number].sheet-ref::-webkit-outer-spin-button,
input[type=number].sheet-txtfield::-webkit-inner-spin-button,
input[type=number].sheet-txtfield::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number].sheet-xpNum,
input[type=number].sheet-hpPerc,
input[type=number].sheet-currHp,
input[type=number].sheet-longNum,
input[type=number].sheet-ref,
input[type=number].sheet-txtfield {
  -moz-appearance: textfield;
}

/* Targetted styling that only effects elements with these classes */
input.sheet-short {
	width: 60px;
}

input.sheet-actionName {
	width: 120px;
	height: 22px;
	font-size: 11px;
}

input.sheet-numHundred {
	width: 60px;
}

input.sheet-numTen {
	width: 50px;
}

input.sheet-longNum {
	width: 90px;
}

input.sheet-actionDesc {
	width: 600px;
	font-size: 9px;
	height: 22px;
}

span.sheet-small {
	width: 120px;
}

span.sheet-fourd {
	display: inline-block;
	width: 35px;
}

span.sheet-eightd {
	display: inline-block;
	width: 70px;
}



select.sheet-jobSelect {
	vertical-align: top;
	width: 100px;
	height: 25px;
	font-size: 12px;
}

span.sheet-leveltext{
	display: inline-block;
	vertical-align: top;
	text-align: top;
}

select.sheet-dtype {
    vertical-align: top;
    width: 60px;
}

span.sheet-dispLevel {
	font-size: 24px;
}


select.sheet-mtype {
    vertical-align: top;
    width: 45px;
}

select.sheet-actionSlow {
	vertical-align: center;
	width: 100px;
	height: 22px;
	font-size: 9px;
}

select.sheet-element {
	vertical-align: center;
	width: 100px;
	height: 22px;
	font-size: 9px;
}

input.sheet-actionType {
	height: 22px;
	font-size: 9px;
}

select.sheet-ttype {
	vertical-align: top;
	width: 140px;
}

select.sheet-status {
	vertical-align: top;
	width: 100px;
}

input.sheet-abilityMP {
	height: 22px;
	width: 100px;
	font-size: 9px;
}

select.sheet-welement {
	vertical-align: center;
	width: 80px;
	height: 22px;
	font-size: 9px;
}

select.sheet-vsArmor {
	vertical-align: center;
	width: 80px;
	height: 22px;
	font-size: 9px;
}

select.sheet-stype {
	vertical-align: center;
	width: 70px;
	height: 22px;
	font-size: 9px;
}

span.sheet-dee {
	font-size: 1.4em;
	font-weight: bold;
	left: -36%;
	padding-right: 4px;
	position: relative;
	top: 3px;
}

input.sheet-passiveName {
	font-size: 11px;
	height: 22px;
}

input.sheet-passiveDesc {
	font-size: 11px;
	height: 22px;
	width: 580px;
}

input[type=number].sheet-ref {
	height: 22px;
	font-size: 9px;
}

button.sheet-attackRoll {
	font-size: 9px;
}



/* Targetted styling that only effects elements contained within the stated class */
.sheet-stats h3 {
	display: inline-block;
	text-align: left;
}

.sheet-stats h3:first-child {
	margin-left: 35%;
	margin-right: 15%;
}
/*
.sheet-stats input {
	margin-right: 5px;
	width: 60px;
} */